.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

.home__row {
    display: flex;
    z-index: 1;
    
}

.home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -150px;
}


@media screen and (max-width: 600px) {
  .home {
    overflow: hidden;
    padding-bottom: 20px;
  }
  .home__image {
    margin-bottom: -50px;
  }
  .home__row {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}